<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Developer Students' Club - NSEC</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link rel="icon" href="https://cdn-images-1.medium.com/max/1600/1*a1Sy9bAOy6vZzILhvhSYjA.png" sizes="16x16" type="image/png">
  <link href="/css/style.min.css" rel="stylesheet">
  <style type="text/css">
    html,
    body,
    header,
    .view {
      height: 100%;
      background-color: #1c2331;
    }

    .btn-outline-info {
    border: 2px solid #3F51B1!important;
    background-color: transparent!important;
    color: #3F51B1!important;
    border-radius: 25px;
}

.btn-outline-info.active, .btn-outline-info:active, .btn-outline-info:active:focus, .btn-outline-info:focus, .btn-outline-info:hover {
    border-color: #4285f4!important;
    background-color: transparent!important;
    color: #4285f4!important;
}
.btn-outline-info:not([disabled]):not(.disabled).active, .btn-outline-info:not([disabled]):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
    background-color: transparent!important;
    border-color: #4285f4!important;
}

.light-blue-text {
    color: #3F51B1!important;
    background-color: transparent!important;
}
.info-color {
    background-color: #3F51B1!important;
}

    @media (max-width: 740px) {
      html,
      body,
      header,
      .view {
        height: 1000px;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .view {
        height: 650px;
      }
    }
    @media (min-width: 800px) and (max-width: 850px) {
              .navbar:not(.top-nav-collapse) {
                  background: #1C2331!important;
              }
          }

  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="/" >
        <strong>DSC &middot; NSEC</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >

      
        <ul class="navbar-nav mr-auto">
           <li class="nav-item">
            <a class="nav-link" href="/" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" >About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/dscnsec" >Contact</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item active">
            <a class="nav-link" href="/signin">Login
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="signup" >Register</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!-- Full Page Intro -->
  <div class="view full-page-intro" style="background-image: url('https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container">

        <!--Grid row-->
        <div class="row wow fadeIn" style="display: flex; justify-content: space-around;">


          <div class="col-md-6 col-xl-5 mb-4">

            <!-- <div class="card" style="background: transparent;">
              <div class="card-body" style="display: flex; justify-content: center;">
                <img src="https://cdn-images-1.medium.com/max/1600/1*a1Sy9bAOy6vZzILhvhSYjA.png" style="max-height: 300px;">
              </div>
            </div> -->

            
 

    <!--Card content-->
<!-- Material form login -->
<div class="card">

  <h5 class="card-header info-color white-text text-center py-4">
    <strong>Sign In</strong>
  </h5>
            <% if(hasErrors) { %>
                    <% _.forEach(messages, function(error){ %>
                        <div class="alert alert-danger text-center">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= error %><br>
                        </div>
                    <% }) %>
            <% } %>


  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

    <!-- Form -->
    <form class="text-center" style="color: #757575;" action="/signin" method="post">

      <!-- Email -->
      <div class="md-form">
        <input type="email" id="materialLoginFormEmail" class="form-control" name="email">
        <label for="materialLoginFormEmail">E-mail</label>
      </div>

      <!-- Password -->
      <div class="md-form">
        <input type="password" id="materialLoginFormPassword" class="form-control" name="password">
        <label for="materialLoginFormPassword">Password</label>
      </div>

      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Remember me</label>
            </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="#" style="color: #3F51B1;">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a href="/signup" style="color: #3F51B1;">Register</a>
      </p>

      <!-- Social login -->
<!--       <p>or sign in with:</p>
        <a href="/auth/google" class="light-blue-text mx-2">
          <i class="fab fa-google"></i>
        </a>
        <a href="#" class="light-blue-text mx-2">
          <i class="fab fa-github"></i>
        </a>
        <a href="/auth/facebook" class="light-blue-text mx-2">
          <i class="fab fa-facebook-f"></i>
        </a> -->

    </form>
    <!-- Form -->

  </div>

</div>
<!-- Material form login -->

          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>
  
  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Copyright-->
    <div class="footer-copyright py-3">
      Designed By 
      <a href="https://ianiket.me">ANiKET</a>
      © 2019 Copyright:
      <a href="#" > DSC - NSEC </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>
</body>

</html>
